/*
 Theme Name:     jcdream child theme
 Theme URI:      https://web.wsu.edu
 Description:    A child theme for twentseventeen
 Author:         WSU University Communications
 Author URI:     https://web.wsu.edu
 Template:       twentyseventeen
 Version:        0.0.1
*/
