#content {
	margin: 0 auto;
	max-width: 1000px;
	padding: 8em 2em 0;
}

@media screen and (max-width: 900px) {

	.wp-block-columns {
		display: block;
	}

	.layout-column-1 + .layout-column-2 {
		margin-top: 6rem;
	}
}

@media screen and (min-width: 767px) {

	.main-navigation a {
		padding: 1em .75em;
	}
}

@media screen and (min-width: 900px) {

	.main-navigation a {
		padding: 1em 1.25em;
	}
}

@media screen and (min-width: 48em) {

	.site-title {
		font-size: 28px;
	}

	.site-footer {
		margin-left: 0;
	}

	.site-footer {
		margin-top: 0;
	}

	#content {
		padding: 12em 3em 0;
	}

	.blog:not(.has-sidebar) #primary article,
	.archive:not(.page-one-column):not(.has-sidebar) #primary article,
	.search:not(.has-sidebar) #primary article,
	.error404:not(.has-sidebar) #primary .page-content,
	.error404.has-sidebar #primary .page-content,
	body.page-two-column:not(.archive) #primary .entry-content,
	body.page-two-column #comments {
		float: none;
	}

	.blog:not(.has-sidebar) #primary article,
	.archive:not(.page-one-column):not(.has-sidebar) #primary article,
	.search:not(.has-sidebar) #primary article,
	.error404:not(.has-sidebar) #primary .page-content,
	.error404.has-sidebar #primary .page-content,
	body.page-two-column:not(.archive) #primary .entry-content,
	body.page-two-column #comments {
		width: 70%;
	}

	header .wrap {
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media screen and (max-width: 767px) {

	.site-title {
		padding-left: 1em;
	}

	.menu-menu-container {
		position: absolute;
		right: 0;
	}

	#top-menu a {
		color: #555;
	}

	#top-menu a:hover {
		color: #3748ac;
	}

	.site-footer .wrap ul {
		justify-content: center;
		flex-wrap: wrap;
		line-height: 1.5;
		padding-bottom: 0;
	}

	.site-footer .wrap ul li {
		padding-bottom: 1em;
	}
}
