#masthead .wrap {
	display: flex;
	max-width: none;
	padding: .75em 3em;
}

#content {
	margin: 0 auto;
	max-width: 1000px;
	min-height: calc(100vh - 60px);
	padding: 8em 2em 0;
}

.admin-bar #content {
	min-height: calc(100vh - 93px);
}

.page:not(.home) #content {
	padding-bottom: 0;
}

.page #content > article {
	width: 70%;
}

.home #content > article {
	width: 100%;
}

.site-footer nav {
	line-height: 1;
	text-align: right;
	padding: 1.5em 3em;
}

.site-footer ul {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

.site-footer li {
	display: inline-block;
	line-height: 1;
	padding: 0 0 0 2em;
}

@media screen and (max-width: 900px) {

	.wp-block-columns {
		display: block;
	}

	.layout-column-1 + .layout-column-2 {
		margin-top: 6rem;
	}
}

@media screen and (max-width: 782px) {

	.admin-bar #content {
		min-height: calc(100vh - 107px);
	}
}

@media screen and (max-width: 767px) {

	#masthead .wrap,
	.site-footer nav {
		padding-left: 2em;
		padding-right: 2em;
	}

	.top-menu-container {
		position: absolute;
		right: 0;
	}

	#top-menu a {
		color: #555;
	}

	#top-menu a:hover {
		color: #3748ac;
	}

	#content {
		min-height: calc(100vh - 234px);
	}

	.admin-bar #content {
		min-height: calc(100vh - 280px);
	}

	#menu-footer li {
		display: block;
		padding: 0 0 1em;
		text-align: center;
	}
}

@media screen and (min-width: 767px) {

	.main-navigation {
		margin-right: -.625em;
	}

	.main-navigation a {
		padding: 1em .625em;
	}
}

@media screen and (min-width: 900px) {

	.main-navigation {
		margin-right: -1em;
	}

	.main-navigation a {
		padding: 1em;
	}

	.home h1 {
		max-width: calc(70% - 2em);
	}
}

@media screen and (min-width: 48em) {

	.site-title {
		font-size: 28px;
	}

	.site-footer {
		margin-left: 0;
	}

	.site-footer {
		margin-top: 0;
	}

	#content {
		padding: 12em 3em 0;
	}

	.page:not(.home) #content {
		padding-bottom: 0;
	}

	.blog:not(.has-sidebar) #primary article,
	.archive:not(.page-one-column):not(.has-sidebar) #primary article,
	.search:not(.has-sidebar) #primary article,
	.error404:not(.has-sidebar) #primary .page-content,
	.error404.has-sidebar #primary .page-content,
	body.page-two-column:not(.archive) #primary .entry-content,
	body.page-two-column #comments {
		float: none;
	}

	.blog:not(.has-sidebar) #primary article,
	.archive:not(.page-one-column):not(.has-sidebar) #primary article,
	.search:not(.has-sidebar) #primary article,
	.error404:not(.has-sidebar) #primary .page-content,
	.error404.has-sidebar #primary .page-content,
	body.page-two-column:not(.archive) #primary .entry-content,
	body.page-two-column #comments {
		width: 70%;
	}
}
