body {
	color: #555;
	font-family: Nunito, sans-serif;
}

#masthead .wrap {
	display: flex;
	flex-direction: row no-wrap;
	justify-content: space-between;
	padding-right: 0;
}

.navigation-top,
.site-footer {
	background-color: #3748ac;
	border-bottom: none;
}

.navigation-top .site-title,
.navigation-top .site-title a {
	color: #50e3c2;
	font-weight: 300;
	line-height: 0;
	display: block;
	margin: auto auto auto 0;
	vertical-align: middle;
}

.navigation-top .site-title span.weight {
	font-weight: 700;
}

.navigation-top nav a,
.site-footer nav ul li a {
	color: #fff;
	font-weight: 300;
}

.navigation-top nav a:hover,
.site-footer nav ul li a:hover {
	color: #50e3c2;
}

.site-footer .wrap {
	padding-right: 0;
}

.site-footer nav {
	float: right;
	line-height: 0;
}

.site-footer ul {
	display: inline-flex;
	list-style: none;
	margin-bottom: 0;
	padding: 1em 0;
	justify-content: space-between;

}

.site-footer ul li {
	padding-right: 2em;
}

.site-footer nav ul li.sif a,
.menu-toggle {
	color: #50e3c2;
}

.site-footer nav ul li.sif a:hover,
.menu-toggle:hover,
.menu-toggle:focus {
	color: #fff;
}

.menu-toggle {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1,
h2,
h3 {
	color: #3748ac;
}

h1 {
	font-size: 34px;
	font-weight: 600;
	line-height: 44px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 3px;
	border-bottom: 1px solid #555;
	padding-bottom: .5em;
}

.home h1:first-of-type {
	padding-top: 0;
}

sup {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

p,
ul li,
ol li {
	font-weight: 300;
	font-size: 18px;
}

ul,
ol {
	padding-left: 2.5em;
}

h2 + ul {
	padding-top: 1em;
}

main a {
	background-color: #b8f0e4;
	border: none;
	box-shadow: none;
}

main a:hover {
	background-color: #50e3c2;
	border: none;
	box-shadow: none;
}

main a.button {
	text-transform: uppercase;
	text-align: center;
	padding: 1em .5em;
	border-radius: 8px;
	box-shadow: none;
	cursor: pointer;
	background-color: #3748ac;
	color: #50e3c2;
	border: 1px solid #3748ac;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 16px;
	transition: all ease .5s;
}

main a.button:hover {
	box-shadow: none;
	background: #fff;
	color: #3748ac;
	border-color: #3748ac;
}

.blue-scheme,
.blue-background,
.blue-background:before,
.blue-background:after {
	background-color: #3748ac;
}

.blue-scheme main sup,
.blue-scheme main p,
.blue-scheme main li,
.blue-scheme main li,
.blue-background sup,
.blue-background p,
.blue-background li,
.blue-background li {
	color: #fff;
}

.blue-scheme main h1,
.blue-scheme main h2,
.blue-scheme main h3,
.blue-background h1,
.blue-background h2,
.blue-background h3 {
	color: #50e3c2;
}

.blue-scheme main h2,
.blue-background h2 {
	border-color: #fff;
}

.blue-scheme main a.button,
.blue-background a.button {
	border: 1px solid #fff;
	background: #fff;
	color: #3748ac;
}

.blue-scheme main a.button:hover,
.blue-background a.button:hover {
	border: 1px solid #fff;
	background: #3748ac;
	color: #fff;
}

.blue-scheme main .white-background sup,
.blue-scheme main .white-background p,
.blue-scheme main .white-background li,
.blue-scheme main .white-background li {
	color: #555;
}

.blue-scheme main .white-background h1,
.blue-scheme main .white-background h2,
.blue-scheme main .white-background h3 {
	color: #3748ac;
}

.blue-scheme main .white-background h2 {
	border-color: #555;
}

.blue-scheme main .white-background a.button {
	border: 1px solid #3748ac;
	background: #3748ac;
	color: #50e3c2;
}

.blue-scheme main .white-background a.button:hover {
	border: 1px solid #3748ac;
	background: #fff;
	color: #3748ac;
}

.white-background,
.blue-background {
	position: relative;
}

.white-background,
.white-background:before,
.white-background:after {
	background: #fff;
}

.white-background:before,
.white-background:after,
.blue-background:before,
.blue-background:after {
	content: "";
	height: 100%;
	position: absolute;
	width: calc(50vw - 50%);
}

.white-background:before,
.blue-background:before {
	left: calc(50% - 50vw);
}

.white-background:after,
.blue-background:after {
	right: calc(50% - 50vw);
}

.wp-block-columns {
	padding-bottom: 6em;
}

.wp-block-cover-image.has-parallax {
	background-position: center;
	left: calc(50% - 50vw);
	margin-bottom: 0;
	width: 100vw;
}

.wp-block-cover-image + * {
	padding-top: 6em;
}

.wp-block-columns.has-2-columns.side-right {
	grid-auto-columns: 70% 30%;
}
